# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/
Carthage/Checkouts
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/README.md

# Archives
*.xcarchive

# iOS specific
*.ipa
*.dSYM.zip
*.dSYM

# General
*.moved-aside
